
h1{
    background-color: red;
    font-size:large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2,p{
    background-color: yellow;
    font-size:large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}